<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="wap-font-scale" content="no">
    <meta name="Keywords" content="小说,在线小说,手机小说"/>
    <title>修改密码</title>
    <link href="/static/novel/css/global.css?2015111317" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="/static/novel/css/style.css?2015102217" rel="stylesheet"/>
    <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/novel/script/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/novel/script/jquery.cookie.js" charset="utf-8"></script>
    <script src="/static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        @media (min-width: 1064px) {body {width: 700px;margin: 0 auto;}}
    </style>
</head>
<body>
	 <div class="header">
        <div class="logo">
            <a href="/novel/"><img src="/static/novel/images/logo_lxg.png" width="105" height="44">
            </a>
        </div>
    </div>
    <div class="password_change" style="width: 350px;margin:30px auto">
    	<form class="layui-form">
    		<div class="layui-form-item">
    			<label class="layui-form-label">邮箱</label>
    			<div class="layui-input-block">
      				<input type="text" name="Email" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
    			</div>
  			</div>
  			<div class="layui-form-item">
    			<label class="layui-form-label">新密码</label>
    			<div class="layui-input-block">
      				<input type="password" name="password" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
    			</div>
  			</div>
  			<div class="layui-form-item">
    			<label class="layui-form-label">确认密码</label>
    			<div class="layui-input-block">
      				<input type="password" name="confirmpass" required lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
    			</div>
  			</div>
  			<div class="layui-form-item">
    			<label class="layui-form-label">验证码</label>
    			<div class="layui-input-inline" style="width: 120px">
      				<input type="text" name="Emailverificationcode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input" style="width: 120px">
    			</div>
    			<button id="verificodebtn" class="layui-btn layui-btn-primary" style="width: 110px;padding: 0px;color: black;background-color: #D8D8D8" type="button">获取验证码</button>
  			</div>
  			<div class="layui-form-item">
    			<div class="layui-input-block">
      				<button class="layui-btn" lay-submit lay-filter="passwordChange" style="width: 120px">立即提交</button>
      				<button type="reset" class="layui-btn layui-btn-primary" style="margin-left: 5px;width: 110px">重置</button>
    			</div>
  			</div>
    	</form>
    </div>
<script>
	layui.use('form', function(){
  	var form = layui.form;
  	form.on('submit(passwordChange)', function(data){
  		var password = data.field['password'];
        var confirmpass = data.field['confirmpass'];
        var Email = data.field['Email'];
        var Emailverificationcode = data.field['Emailverificationcode'];
        if(password.length<6||password.length>18){
            layer.msg('密码6-18位')
            return false;
        }
        if(confirmpass!=password){
            layer.msg("密码与确认密码不同");
            return false;
        }
        var reg = /^[\w\.]+@[\w\.]+(\.\w+)+$/;
        if(!reg.test(Email)){
            layer.msg("邮箱格式错误");
            return false;
        }
        $.ajax({
            url: '/novel/passwordChange',
            type: 'POST',
            dataType: 'json',
            data:{'password':password,'Email':Email,'Emailverificationcode':Emailverificationcode,'csrfmiddlewaretoken':'{{csrf_token}}'},
            success:function(data){
                status=data.status;
                layer.msg(status);
            },
            error:function(){
               layer.msg('服务器超时，请重试！');
           }
        });
        return false;
  	});
  	$("#verificodebtn").click(function(){
  		var Email = $("[name='Email']").val();
  		if(Email==""){
            layui.use('layer',function(){
                var layer = layui.layer;
                layer.msg('请先填写邮箱!');
            });
            return;
        }
        var reg = /^[\w\.]+@[\w\.]+(\.\w+)+$/;
        if(!reg.test(Email)){
            layui.use('layer',function(){
                var layer = layui.layer;
                layer.msg('邮箱格式错误!');
            });
            return;
        }
        $("#verificodebtn").attr('class',"layui-btn layui-btn-disabled");
        $("#verificodebtn").css('color','#999cb1');
        var time = 60;
        var timer = setInterval(function(){
            if(time>0){
                $("#verificodebtn").text('('+time+'s)重新发送');
                time--;
            }else{
                $("#verificodebtn").text('获取验证码');
                $("#verificodebtn").css('color','black');
                $("#verificodebtn").attr('class',"layui-btn layui-btn-primary");
                clearInterval(timer);
            }
        },1000);
        $.ajax({
            url: '/novel/getverificode_passwordChange',
            type: 'POST',
            dataType: 'json',
            data:{'Email':Email,'csrfmiddlewaretoken':'{{csrf_token}}'},
            success:function(data){
                layui.use('layer',function(){
                	layer.msg(data.status);
            	}); 
            	if(data.status=='用户不存在!'||data.status=='失败'){
            		$("#verificodebtn").text('获取验证码');
                	$("#verificodebtn").css('color','black');
                	$("#verificodebtn").attr('class',"layui-btn layui-btn-primary");
                	clearInterval(timer);
            	}
            },
            error:function(){
               layui.use('layer',function(){
                	var layer = layui.layer;
                	layer.msg('服务器超时，请重试!');
            	});
            }
        });
  	});
});
</script>
</body>
</html>