<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="wap-font-scale" content="no">
    <link href="/static/novel/images/logo_lxg.png" rel="apple-touch-icon-precomposed" />
    <link href="/static/novel/images/logo_lxg.png" rel="icon" type="image/x-icon" />
    <link href="/static/novel/images/logo_lxg.png" rel="shortcut icon" type="image/x-icon" />

    <meta name="Keywords" content="小说,在线小说,手机小说"/>
    <title>在线小说,手机小说,流溪阁小说网手机版</title>
    <link href="/static/novel/css/global.css?2015111317" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="/static/novel/css/style.css?2015102217" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/novel/script/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/novel/script/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/novel/script/common.js"></script>
    <script type="text/javascript" src="/static/novel/script/domain.js"></script>
    <script type="text/javascript" src="/static/novel/script/m_reader.js?201514416"></script>
    <script type="text/javascript" src="/static/novel/script/TSB.js"></script>
    <script type="text/javascript" src="/static/novel/script/main.js"></script>
    <style type="text/css">
        @media (min-width: 1064px) {body {width: 700px;margin: 0 auto;}}
    </style>
</head>
<body>



<!--head-->

<div class="header">
    <div class="logo"><a href="/novel/"><img src="/static/novel/images/logo_lxg.png" width="105" height="44"></a></div>
</div>

<h3 style="color: #4c4c4c;padding: 11px 8px 0;line-height: 24px;">
    <em style="width: 8px;height: 24px;line-height: 14px;background: #5e5e5e;margin-right: 7px;border-radius: 2px;float: left;"></em>
    月票榜
</h3>
<div>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/2/2538/&novelid=106" class="list-group-item">《长宁帝君》--知白<span class="badge">热度：16606</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/15/15021/&novelid=88" class="list-group-item">《剑来》--烽火戏诸侯<span class="badge">热度：12440</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/21/21254/&novelid=104" class="list-group-item">《神级奶爸》--单王张<span class="badge">热度：4828</a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/21/21273/&novelid=107" class="list-group-item">《帝道独尊》--一叶青天<span class="badge">热度：4062</a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/3/3771/&novelid=108" class="list-group-item">《帝临鸿蒙》--为尹染墨红尘<span class="badge">热度：3098</a>
</div>
<h3 style="color: #4c4c4c;padding: 11px 8px 0;line-height: 24px;">
    <em style="width: 8px;height: 24px;line-height: 14px;background: #5e5e5e;margin-right: 7px;border-radius: 2px;float: left;"></em>
    新书榜
</h3>
<div>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/36/36986/&novelid=109" class="list-group-item">《赝太子》--荆柯守<span class="badge">热度：14346</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/23/23823/&novelid=110" class="list-group-item">《超凡黎明》--文抄公<span class="badge">热度：11312</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/0/743/&novelid=116" class="list-group-item">《诡秘之主》--爱潜水的乌贼<span class="badge">热度：10784</a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/15/15462/&novelid=117" class="list-group-item">《狂探》--旷海忘湖<span class="badge">热度：8447</a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/11/11559/&novelid=118" class="list-group-item">《太初》--高楼大厦<span class="badge">热度：7991</a>
</div>
<h3 style="color: #4c4c4c;padding: 11px 8px 0;line-height: 24px;">
    <em style="width: 8px;height: 24px;line-height: 14px;background: #5e5e5e;margin-right: 7px;border-radius: 2px;float: left;"></em>
    点击榜
</h3>
<div>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/14/14930/&novelid=1" class="list-group-item">《元尊》--天蚕土豆<span class="badge">热度：13128</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/7/7004/&novelid=7" class="list-group-item">《遮天》--辰东<span class="badge">热度：10312</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/18/18245/&novelid=20" class="list-group-item">《秦吏》--七月新番<span class="badge">热度：10084</a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/11/11433/&novelid=35" class="list-group-item">《黎明之剑》--远瞳<span class="badge">热度：8847</a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/1/1690/&novelid=21" class="list-group-item">《庆余年》--猫腻<span class="badge">热度：7991</a>
</div>
<h3 style="color: #4c4c4c;padding: 11px 8px 0;line-height: 24px;">
    <em style="width: 8px;height: 24px;line-height: 14px;background: #5e5e5e;margin-right: 7px;border-radius: 2px;float: left;"></em>
    畅销榜
</h3>
<div>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/15/15021/&novelid=88" class="list-group-item">《剑来》--烽火戏诸侯<span class="badge">热度：14340</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/0/125/&novelid=105" class="list-group-item">《逆天邪神》--火星引力<span class="badge">热度：11312</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/2/2538/&novelid=106" class="list-group-item">《长宁帝君》--知白<span class="badge">热度：10606</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/14/14930/&novelid=1" class="list-group-item">《元尊》--天蚕土豆<span class="badge">热度：10346</span></a>
    <a href="/novel/getNovelInfo?infourl=http://www.xbiquge.la/0/70/&novelid=122" class="list-group-item">《一世之尊》--爱潜水的乌贼<span class="badge">热度：7991</a>
</div>
<div class="bottom">

    <div class="pageLine"><img src="/static/novel/images/head_line.gif" width="100%"></div>

    <ul class="subNav">

        <li><a href="javascript:history.go(-1)"><span class="a4">&lt;&lt;&lt;</span></a></li>

        <li><a href="javascript:;"><span class="a5">下载客户端</span></a></li>

        <li class="last"><a href="javascript:;" onClick="m_global.toTop()"><span class="a6">返回顶部&gt;&gt;&gt;</span></a></li>

    </ul>
    <p class="record">流溪阁在线小说 <a href="javascript:;">关于我们</a></p>
</div>
</body>

</html>